<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yafan.demo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yafan.demo.pojo.NUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="address" property="address"/>
        <result column="dbSource" property="dbSource"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id , name, age, address,dbSource;
    </sql>

    <sql id="table">user</sql>

    <!--关联查询部门列表-->
    <select id="getNUser" resultMap="BaseResultMap">
        SELECT
            t.*
        FROM
            user t

        WHERE id=#{id}
    </select>

    <insert id="addUser" parameterType="com.yafan.demo.pojo.NUser">
        INSERT INTO
        <include refid="table"/>
        (id,name ,age,address)
        VALUES
        (#{id},#{name},#{age},#{address})
    </insert>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        DELETE FROM
        <include refid="table"/>
        WHERE
        id = #{id}
    </delete>

    <update id="updateUser" parameterType="com.yafan.demo.pojo.NUser">
        UPDATE
        <include refid="table"/>
        SET
        <!--<if test="name != null">name = #{name}</if>-->
        name  = #{name},age = #{age},address = #{address}
        WHERE
        id = #{id}
    </update>
</mapper>
